.cart-wrapper {
    padding: {
        top: 2vw;
        bottom: 2vw;
    }
    background-color: $page-bgr-clr;
    min-height: 92vh;
}

.addcard-icon {
    font-size: 2.4vw;
}

.cart-summary-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4vw;
}

.cart-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.free-shipping-message {
    font-size: 2.5vw;
    color: white;
}

.empty-cart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.no-cart-items {
    width: 95%;
    font-size: 2.5vw;
    color: white;
    text-align: center;
}

.no-cart-items a {
    font-size: 5.5vw;
}

#emptycart-product-link {
    width: 100%;
    font-size: 6vw;
    text-align: center;
}

.input-group-addon {
    width: 15%;
    font-size: 2.2vw;
}

.amend-btn-wrapper {
    padding-top: 2vw;
    width: 100%;
}

.amend-btn {
    width: 16vw;
    font-size: 2.2vw;
}

.shipping-fee, #totalamount {
    width: 100%;
    font-size: 3vw;
    color: white;
}

.glyphicon-euro {
    margin: {
        left: 5px;
        right: 5px;
    }
    top: 2px;
}

.checkout-btn {
    font-family: $dosisFont;
    font-size: 3.5vw;
    width: 22vw;
}
