.registration-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    padding: {
        top: 10vw;
        bottom: 2vw;
    }

    background-color: $page-bgr-clr;
    min-height: 100vh;
}

#registration-message {
    width: 90vw;

    margin: {
        bottom: 1.5vw;
    }

    text-align: center;
    color: white;
}

.help-block {
    color: red;
}

#registrationform {
    width: 70vw;
}

#submit-registration-btn-wrapper {
    width: 100%;
}

#submit-registration-btn {
    width: 16vw;
    background-color: lightblue;
    color: rgb(65, 65, 65);
    font-family: $dosisFont;
    font-size: 2.2vw;
    transition: color .3s ease-in-out;
}

#submit-registration-btn:hover {
    color: darkred;
}