.cart-wrapper {
    padding: {
        top: 4vw;
        bottom: 25vw;

    }

    background-color: $page-bgr-clr;
    min-height: 92vh;
}

.addcard-icon {
    font-size: 4vw;
}

.cart-summary-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4vw;
}

.cart-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.free-shipping-message {
    font-size: 5.5vw;
    color: white;
}

.empty-cart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.no-cart-items {
    width: 95%;
    font-size: 5.5vw;
    text-align: center;
    color: white;
}

.no-cart-items a {
    font-size: 5.5vw;
}

#emptycart-product-link {
    width: 100%;
    font-size: 10vw;
    text-align: center;
}

.input-group-addon {
    font-size: 4vw;
}

.amend-btn-wrapper {
    width: 100%;
}

.amend-btn {
    width: 40vw;
    font-size: 5.0vw;
}

.shipping-fee,
#totalamount {
    width: 100%;
    font-size: 6vw;
    color: white;
}

.glyphicon-euro {
    margin: {
        left: 5px;
        right: 5px;
    }
}

.checkout-btn {
    font-family: $dosisFont;
    font-size: 5.0vw;
    width: 40vw;
}