.checkout-wrapper {
    padding: {
        top: 2vw;
        bottom: 25vw;

    }

    background-color: $page-bgr-clr;
    min-height: 85vh;
}

caption p {
    word-wrap: break-word;
}


.checkout-summary-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4vw;
}

.checkout-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.checkout-summary-items {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 7.0vw;
}

#payment-form {
    margin-top: 6vw;
}

#submit_payment_btn {
    display: flex;
    justify-content: center;
    width: 40vw;
    font-size: 5.5vw;
    transition: color .3s ease-in-out;
}

#submit_payment_btn:hover {
    color: darkred;
}