.login-wrapper {
    height: 70vh;
    align-content: center;
}

#loginform {
    width: 90vw;
}

#login-btn {
    width: 40vw;
    font-family: $dosisFont;
    font-size: 5.5vw;
    background-color: lightblue;
}

#reset-register-wrapper {
    display: flex;
    font-family: $dosisFont;
    font-size: 5.5vw;
    width: 100%;
    margin: {
        top: 2vw;
        bottom: 2vw;
    }
}

#password-reset-link {
    width: 40%;
}

#or-div {
    width: 20%;
}

#register-link {
    width: 40%;
}