.login-wrapper {
    height: 70vh;
    align-content: center;
}

#loginform {
    width: 90vw;
}

#reset-register-wrapper {
    width: 100%;
}

#password-reset-link {
    width: 40%;
}

#or-div {
    width: 10%;
}

#register-link {
    width: 40%;
}