.password-reset-wrapper {
    height: 70vh;
    align-content: center;
}

.accountform {
    width: 90vw;
    padding-top: 20px;
}

.emailfield-resetform-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#password-reset-label {
    padding-right: 5px;
    width: 30%;
}

.passwordresetform {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
