.profile-wrapper {
    padding-bottom: 20vw;
}

.nav-tabs {
    margin-top: 3vw;
}

.orderline-header {
    font-size: 4.8vw;

}

.profile-tabs {
    font-size: 7.0vw;
}

.form-control,
.orderline-value,
.update-address-btn {
    font-family: $dosisFont;
    font-size: 5.5vw;
    font-weight: 900;
}


.tab-content {
    width: 100%;
}

.tab-address {
    width: 80vw;
}

.tab-orders {
    width: 95vw;
}

.order-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orderline-order-header {
    width: 50%;
}

.orderline-product-header {
    width: 30%;
}

.orderline-quantity-header {
    width: 20%;
}

.orderline-order-value {
    width: 50%;
}

.orderline-product-value {
    width: 30%;
}

.orderline-quantity-value {
    width: 20%;
}

.update-address-btn {
    background-color: lightblue;
}