.product-wrapper {
    padding-bottom: 20vw;
    background-color: #9e988fcb;

}

.search-field-wrapper {
    width: 100%;
    padding-bottom: 10vw;
}

.product-image {
    width: 50vw;
    height: 37.5vw;
}

.product-headline {
    font-family: $dosisFont;
    font-size: 7.5vw;
}

.product-description {
    min-height: 40px;
}

.product-quickstats {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 12vw;
    left: 56vw;
}

.quickstats-key {
    width: 40%;
}

.quickstats-value {
    width: 60%;
}

