
.wishform {
    width: 8vw;
    position: absolute;
    left: 69vw;
    top: 4vw;
}


.revform {
    width: 8vw;
    position: absolute;
    left: 70vw;
    top: 14vw;
}


.add-wish-btn,
.remove-wish-btn,
.add-review-btn {
    border: none;
    background-color: transparent;
}



