.product-wrapper {
    padding-bottom: 20vw;
    background-color: #9e988fcb;
}

.search-field-wrapper {
    width: 100%;
    padding-bottom: 10vw;
}

.panel-default {
    padding: 0 0;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    background-color: cornsilk;
}

.product-image {
    width: 50vw;
    height: 37.5vw;
    border: none;
    border-radius: 5px;
}

.add-review-btn {
    font-size: 5.5vw;
    color: rgb(65, 106, 236);
}


.product-headline {
    font-family: $dosisFont;
    font-size: 6.5vw;
}


.product-description {
    min-height: 40px;
}

h3 .product-headline {
    text-decoration: none;

}

.product-stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.stats-key {
    width: 21vw;
}

.stats-value {
    width: 52vw;
    ;
}

.stats-value a {
    text-decoration: none;
}