.reviewsWrapper {
    padding-top: 5vw;
    padding-bottom: 20vw;
    background-color: #9e988fcb;
    //min-height: 82vh;
}

.edit-review-wrapper {
    padding-bottom: 25vw;
    min-height: 82vh;
    padding-top: 10vw;
}

#review-form {
    width: 90vw;
}

#id_image {
    height: 13vw;
}

#review-send-btn-wrapper {
    width: 100%;
}


#review-send-btn {
    font-family: $dosisFont;
    font-size: 5.5vw;
    background-color: lightblue;
    width: 40vw;
}

.review-stats {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#review-btn-bar {
    width: 100%
}

#back-to-product-btn,
#edit-review-btn,
#review-del-req-btn {
    width: 28%;
    font-family: $dosisFont;
    font-size: 3vw;
    color: rgb(255, 255, 255);
}

#back-to-product-btn {
    background-color: rgb(137, 172, 137);
    margin-right: 2px;
}

#edit-review-btn {
    width: 8vw;
    position: absolute;
    left: 70vw;
    top: 7vw;
}

#review-del-req-btn {
    width: 8vw;
    position: absolute;
    left: 70vw;
    top: 14vw;

}

.review-headline {
    font-family: $dosisFont;
    font-size: 5.5vw;
}






// .delform {
//     width: 8vw;
//     position: absolute;
//     left: 70vw;
//     top: 14vw;

// }

#confirm-delete-popup {
    background-color: beige;
    border-radius: 5px;
    border: 1px solid grey;
    width: 50vw;
    height: 25vw;
    position: absolute;
    opacity: 0.0;
    z-index: -1;
    top: 30%;
    left: 18%;
    transform: translateZ(-10px);
    transition: opacity .5s ease-in-out;
}

#delete-popup-message {
    width: 80%;

    font: {
        family: $dosisFont;
        size: $delPopupFontSize;
    }
}

#delete-confirm-btn {
    background-color: lightcoral;
    color: black;
    margin-right: 2px;
}

#delete-cancel-btn {
    background-color: lightslategray;
    margin-left: 2px;
    font-family: $dosisFont;

}