.wishlist-wrapper {
    padding-bottom: 25vw;
    background-color: #9e988fcb;
    min-height: 82vh;
}

.wishlist-remove-btn {
    width: 8vw;
    position: absolute;
    left: 69vw;
    top: 4vw;
    color: rgb(189, 0, 0);
}

.wishlist-remove-btn i {
    font-size: 7.5vw;
}

.staricon-not-added,
.staricon-added {
    font-size: 7.5vw;
}

.staricon-not-added {
    color: rgb(151, 22, 22);
}

.staricon-added {
    color: green;
}

#empty-wishlist-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#empty-wishlist-wrapper p {
    font-size: 5.5vw;

}

#empty-wishlist-product-link {
    width: 80%;
    font-size: 8vw;
    text-align: center;
}