.password-reset-wrapper {
    height: 70vh;
    background-color: $page-bgr-clr;
    min-height: 92vh;
    padding: {
        top: 4vw;
    }
}

.accountform {
    width: 90vw;
    padding-top: 20px;
}

.accountform p {
    color: white;
}

.emailfield-resetform-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#password-reset-label {
    color: white;
}

.passwordresetform {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.passwordresetform #email-input-field {
    width: 100%;
}

.pw-reset-btn {
    width: 80%;
    font-family: $dosisFont;
    font-size: 5.5vw;
    margin-top: 6vw;
    background-color: orange;
    transition: color .3s ease-in-out;
}

.pw-reset-btn:hover {
    color: darkred;
}