@media screen and (max-width: 414px) and (max-height: 823px) and (orientation: portrait) {

    @import "pages/_cart-page.scss";
    @import "pages/_checkout-page.scss";
    @import "pages/_login-page.scss";
    @import "pages/_password-reset-page.scss";
    @import "pages/_productdetails-page.scss";
    @import "pages/_products-page.scss";
    @import "pages/_profile-page.scss";
    @import "pages/_register-page.scss";
    @import "pages/_reviews-page.scss";
    @import "pages/_wishlist-page.scss";


    body {
        font-family: $dosisFont;
        font-size: 5.0vw;
    }

    .page-headline {
        font-family: $dosisFont;
        font-size: 7vw;
        padding-bottom: 2vw;
        width: 100%;
        color: white;
    }

    .form-group {
        color: white;
        width: 100%;
    }

    .form-group>.page-headline,
    .form-group>p {
        text-align: center;
        font-size: 6.0vw;
        color: white;

        padding: {
            top: 6vw;
            bottom: 4vw;
        }
    }

    // footer {
    //     margin-top: 40px;
    //     padding-top: 20px;
    //     padding-bottom: 20px;
    //     border-top: 1px solid #ededed;
    //     color: #A9A9A9;
    // }

    // navbar header

    .container>.navbar-header {
        margin: {
            left: 0;
            right: 0;
        }

        height: 15vw;
    }

    .container {
        padding: {
            left: 0;
            right: 0;
        }
    }

    .desktop-navbar {
        display: none;
    }

    .mobile-list-items {

        margin: {
            top: 20px;
            bottom: 20px;
            left: 15px;
        }

        font-size: 6.5vw;

    }

    .mobile-list-items a i,
    .mobile-list-items a span {
        margin-right: 10vw;
    }

    .navbar-nav {
        margin: 14.5px 0;
    }

    .navbar-fixed-top .navbar-collapse {
        max-height: 380px;
    }

    #brandicon {
        color: #971616;
        font-size: 6vw;
    }

    .navbar-brand {
        font-family: $dosisFont;
        font-size: 7vw;
    }

    #menubutton {
        margin-top: 15px;
    }

    .alert {
        margin: {
            top: 14.5vw;
            bottom: 0;
        }
    }

    .icon-bar {
        background-color: #fff;
    }

    .row.row-flex {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .row {
        margin: {
            left: 0;
            right: 0;
        }

    }

    .btn-bar-wrapper {
        width: 30vw;
        display: block;
        text-align: right;
    }


    // bottom linkbar

    #bottombar {
        display: flex;
    }

    #bottombar .quicklinks {
        width: 20vw;
        display: flex;
        justify-content: center;
        font-size: 7.5vw;
        height: 20px;
    }

    #bottomnavbar-ipad {
        display: none;
    }

    #bottombar-ipad {
        display: none;
    }

    .products-icon {
        top: -1px;
        font-size: 7.3vw;
    }

    .nav>li>a {
        padding: 0;

    }

    #wishlist-badge-bottom {
        position: absolute;
        top: -2vw;
        left: 13.7vw;

        padding: {
            left: 2vw;
            right: 2vw;
        }

        max-width: none;
    }

    .badge-wishlist {
        -webkit-border-radius: 3vw;
        -moz-border-radius: 3vw;
        border-radius: 3vw;
        font-size: 4vw;
        position: absolute;
        top: -2vw;
        left: 7.0vw;
    }


    #cart-badge-bottom {
        position: absolute;
        top: -2vw;
        left: 14.0vw;

        padding: {
            left: 1.5vw;
            right: 1.5vw;
        }

        max-width: none;
    }

    .badge-cart {
        -webkit-border-radius: 3vw;
        -moz-border-radius: 3vw;
        border-radius: 3vw;
        font-size: 4vw;
        position: absolute;
        top: -2vw;
        left: 7.0vw;
    }

    .badge {
        padding-right: 5px;
        padding-left: 5px;
    }

    .label-warning[href],
    .badge-warning[href] {
        background-color: #c67605;
    }

    .active-app {
        color: rgba(255, 0, 0, 0.5);
    }

    .no-results-message {
        font-size: 5.5vw;
        color: white;
    }
}