{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
{% endblock head_js %}
{% block content %}

<div class="productWrapper ha">

    <div class="row row-flex">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">

                {% if product.id in wishlist %}
                <form class="wishform" method="POST"
                    action="{% url 'remove_from_wishlist' product.id %}">
                    {% csrf_token %}
                    <span class="input-group-btn">
                        <input type="text" name="jumper" value="" hidden>
                        <button class="removeWishBtn" type="submit"><i class="fa fa-star stariconAdded"></i></button>
                    </span>
                </form>
                {% else %}
                <form class="wishform" method="POST"
                    action="{% url 'add_to_wishlist' product.id %}">
                    {% csrf_token %}
                    <span class="input-group-btn">
                        <button class="addWishBtn" type="submit"><i class="fa fa-star stariconNotAdded"></i></button>
                    </span>
                </form>
                {% endif %}


                {% if product.name in purchased_products %}
                <form class="revform" method="POST"
                    action="{% url 'new_review' product.id %}">
                    {% csrf_token %}
                    <span class="input-group-btn">
                        <button class="addReviewBtn" type="submit"><i class="fa fa-comment"></i></button>
                    </span>
                </form>
                {% endif %}


                <img src="{{ MEDIA_URL }}{{product.image}}" alt="image of {{product.name}}"
                    style="width:200px;height:150px;">

                <div class="product-headline"><b>{{product.name}}</b></div>

                <p class="product-description">{{ product.description }}</p>

                <div class="product-stats">
                    <div class="quickstats-key"><i class="fa fa-eye"></i></div>
                    <div class="quickstats-value">{{ product.view_count }}</div>
                    <div class="quickstats-key"><i class="fa fa-comment"></i></div>
                    {% if product.review_count > 0 %}
                    <a href="{% url 'get_reviews' product.id %}">{{ product.review_count }}</a>
                    {% else %}
                    <div class="quickstats-value">{{ product.review_count }}</div>
                    {% endif %}
                    <div class="quickstats-key">Sold: </div>
                    <div class="quickstats-value"> {{ product.ordered_pcs }}</div>
                    <div class="quickstats-key">Origin: </div>
                    <div class="quickstats-value"> {{ product.origin }}</div>
                    <div class="quickstats-key">Since: </div>
                    <div class="quickstats-value"> {{ product.first_developed }}</div>
                    <div class="quickstats-key">Use: </div>
                    <div class="quickstats-value"> {{ product.use }}</div>
                </div>
                <br>
                <p><b>Our price: {{ product.price }} EUR</b></p>
                <form method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control"
                            placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit"><i
                                    class="fa fa-shopping-cart addcard-icon"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}