{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
{% endblock head_js %}
{% block content %}

<div class="productWrapper ha">

    <div class="row row-flex">
        <div class="searchFieldWrapper ha">
            <div class="display">
                <form action="{% url 'product_search' %}" method="GET">
                    <input type="text" name="q">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>


        {% if products %}
        {% for product in products %}

        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                {% if product.id in wishlist %}
                <form class="wishform" id="addwishlist{{product.id}}" method="POST"
                    action="{% url 'remove_from_wishlist' product.id %}">
                    {% csrf_token %}
                    <span class="input-group-btn">
                        <input type="text" name="jumper" value="" hidden>
                        <button class="removeWishBtn" type="submit"><i class="fa fa-star stariconAdded"></i></button>
                    </span>
                </form>
                {% else %}
                <form class="wishform" id="addwishlist{{product.id}}" method="POST"
                    action="{% url 'add_to_wishlist' product.id %}">
                    {% csrf_token %}
                    <span class="input-group-btn">
                        <button class="addWishBtn" type="submit"><i class="fa fa-star stariconNotAdded"></i></button>
                    </span>
                </form>
                {% endif %}


                <img src="{{ MEDIA_URL }}{{product.image}}" alt="image of {{product.name}}"
                    style="width:200px;height:150px;">

                <div class="product-quickstats">
                    <div class="quickstats-key vh"><i class="fa fa-eye"></i></div>
                    <div class="quickstats-value">{{ product.view_count }}</div>
                    <div class="quickstats-key vh"><i class="fa fa-comment"></i></div>
                    <div class="quickstats-value">{{ product.review_count }}</div>
                    <div class="quickstats-key vh">Sold:</div>
                    <div class="quickstats-value">{{ product.ordered_pcs }}</div>
                </div>

                <h3><a class="product-headline" href="{% url 'product_detail' product.id %}"><b>{{product.name}}</b></a>
                </h3>

                <p class="product-description">{{ product.description|truncatewords:12 }}</p>
                <p><b>Our price: {{ product.price }} EUR</b></p>
                <form id="addcart{{product.id}}" method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control"
                            placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit"><i
                                    class="fa fa-shopping-cart addcard-icon"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No results have been found.</p>
        {% endif %}
    </div>
</div>

{% endblock %}