.vh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.va {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 414px) and (max-height: 823px) and (orientation: portrait) {
  .login-wrapper {
    height: 70vh;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #loginform {
    width: 90vw;
  }
  #login-btn {
    width: 40vw;
    font-family: "Dosis", sans-serif;
    font-size: 5.5vw;
    background-color: lightblue;
  }
  #reset-register-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Dosis", sans-serif;
    font-size: 5.5vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  #password-reset-link {
    width: 40%;
  }
  #or-div {
    width: 20%;
  }
  #register-link {
    width: 40%;
  }
  .password-reset-wrapper {
    height: 70vh;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .accountform {
    width: 90vw;
    padding-top: 20px;
  }
  .emailfield-resetform-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #password-reset-label {
    padding-right: 5px;
    width: 44%;
  }
  .passwordresetform {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .passwordresetform #email-input-field {
    width: 100%;
  }
  .cart-wrapper {
    padding-bottom: 25vw;
    background-color: #9e988fcb;
    min-height: 82vh;
  }
  .addcard-icon {
    font-size: 3vw;
  }
  .checkout-summary-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checkout-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
  }
  .empty-cart-Wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .no-cart-items {
    width: 80%;
    font-size: 5.5vw;
  }
  .no-cart-items a {
    font-size: 5.5vw;
  }
  .input-group-addon {
    font-size: 4vw;
  }
  .amend-btn {
    width: 25vw;
    font-size: 5.0vw;
  }
  .shipping-fee, #totalamount {
    width: 100%;
    font-size: 6vw;
  }
  .glyphicon-euro {
    margin-left: 5px;
    margin-right: 5px;
  }
  .checkout-btn {
    font-family: "Dosis", sans-serif;
    font-size: 7.0vw;
    width: 40%;
  }
  .product-wrapper {
    padding-bottom: 20vw;
    background-color: #9e988fcb;
  }
  .search-field-wrapper {
    width: 100%;
    padding-bottom: 10vw;
  }
  .product-image {
    width: 50vw;
    height: 37.5vw;
  }
  .product-headline {
    font-family: "Dosis", sans-serif;
    font-size: 7.5vw;
  }
  .product-description {
    min-height: 40px;
  }
  .product-quickstats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    top: 12vw;
    left: 56vw;
  }
  .quickstats-key {
    width: 40%;
  }
  .quickstats-value {
    width: 60%;
  }
  .wishform {
    width: 8vw;
    position: absolute;
    left: 88.7%;
  }
  .add-wish-btn,
  .remove-wish-btn,
  .add-review-btn {
    border: none;
    background-color: transparent;
  }
  .product-stats {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 15vw;
    left: 50vw;
  }
  .stats-key {
    width: 25%;
  }
  .stats-value {
    width: 60%;
  }
  .profile-wrapper {
    padding-bottom: 20vw;
  }
  .nav-tabs {
    margin-top: 3vw;
  }
  .orderline-header {
    font-size: 4.8vw;
  }
  .profile-tabs {
    font-size: 7.0vw;
  }
  .form-control,
  .orderline-value,
  .update-address-btn {
    font-family: "Dosis", sans-serif;
    font-size: 5.5vw;
    font-weight: 900;
  }
  .tab-content {
    width: 100%;
  }
  .tab-address {
    width: 80vw;
  }
  .tab-orders {
    width: 95vw;
  }
  .order-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .orderline-order-header {
    width: 50%;
  }
  .orderline-product-header {
    width: 30%;
  }
  .orderline-quantity-header {
    width: 20%;
  }
  .orderline-order-value {
    width: 50%;
  }
  .orderline-product-value {
    width: 30%;
  }
  .orderline-quantity-value {
    width: 20%;
  }
  .update-address-btn {
    background-color: lightblue;
  }
  body {
    font-family: "Dosis", sans-serif;
    padding-top: 60px;
    font-size: 5.5vw;
  }
  .page-headline {
    font-family: "Dosis", sans-serif;
    font-size: 7vw;
    padding-top: 4vw;
    width: 100%;
  }
  .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
    height: 15vw;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .desktop-navbar {
    display: none;
  }
  .mobile-list-items {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 6.5vw;
  }
  .navbar-nav {
    margin: 14.5px 0;
  }
  #brandicon {
    color: #b61d18;
    font-size: 6vw;
  }
  .navbar-brand {
    font-family: "Dosis", sans-serif;
    font-size: 7vw;
  }
  #menubutton {
    margin-top: 15px;
  }
  .alert {
    margin-bottom: 0;
  }
  .icon-bar {
    background-color: #fff;
  }
  .row.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .panel-default {
    padding: 0 0;
  }
  .panel-body {
    height: 100%;
    border: 1px solid #ddd;
    background-color: cornsilk;
  }
  #bottombar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bottombar .quicklinks {
    width: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 7.5vw;
    height: 20px;
  }
  .products-icon {
    top: -1px;
    font-size: 7.3vw;
  }
  .nav > li > a {
    padding: 0;
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
  }
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  .active-app {
    color: rgba(255, 0, 0, 0.5);
  }
}

@media screen and (min-height: 415px) and (min-width: 510px) and (max-width: 3840px) and (orientation: landscape) {
  body {
    font-family: Arial;
    padding-top: 100px;
  }
  footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
  }
  .icon-bar {
    background-color: #fff;
  }
  .accountform {
    padding-top: 20px;
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
  }
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  .product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  caption p {
    word-wrap: break-word;
  }
  .row.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
  .panel-default {
    border-color: transparent;
    padding: 0 10px;
  }
  .panel-body {
    height: 100%;
    border: 1px solid #ddd;
  }
  .product-description {
    min-height: 40px;
  }
  .productcard {
    width: 95vw;
  }
  #bottomnavbar {
    display: none;
  }
  #bottombar {
    display: none;
  }
  .active-app {
    color: rgba(255, 0, 0, 0.5);
  }
  .order-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .orderline-header, .orderline-value {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */