.vh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.va {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 414px) and (max-height: 823px) and (orientation: portrait) {
  .cart-wrapper {
    padding-bottom: 25vw;
    background-color: #9e988fcb;
    min-height: 85vh;
  }
  .addcard-icon {
    font-size: 3vw;
  }
  .checkout-summary-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checkout-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
  }
  .empty-cart-Wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .no-cart-items {
    width: 80%;
    font-size: 5.5vw;
  }
  .no-cart-items a {
    font-size: 5.5vw;
  }
  .input-group-addon {
    font-size: 4vw;
  }
  .amend-btn {
    width: 25vw;
    font-size: 5.0vw;
  }
  .shipping-fee, #totalamount {
    width: 100%;
    font-size: 6vw;
  }
  .glyphicon-euro {
    margin-left: 5px;
    margin-right: 5px;
  }
  .checkout-btn {
    font-family: "Dosis", sans-serif;
    font-size: 16.0vw;
    width: 40vw;
  }
  .checkout-wrapper {
    padding-bottom: 20vw;
  }
  caption p {
    word-wrap: break-word;
  }
  .login-wrapper {
    height: 70vh;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #loginform {
    width: 90vw;
  }
  #reset-register-wrapper,
  #login-btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Dosis", sans-serif;
    font-size: 5.5vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  #login-btn {
    background-color: lightblue;
    color: #414141;
  }
  #password-reset-link {
    background-color: orange;
    margin-right: 2.4vw;
  }
  #register-link {
    background-color: #00aa00;
    margin-left: 2.4vw;
  }
  #login-btn, #password-reset-link, #register-link {
    width: 40vw;
    font-family: "Dosis", sans-serif;
    font-size: 5.5vw;
  }
  #password-reset-link a, #register-link a {
    color: #414141;
    -webkit-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
  }
  #login-btn a:hover, #password-reset-link a:hover, #register-link a:hover {
    color: darkred;
  }
  .password-reset-wrapper {
    height: 70vh;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .accountform {
    width: 90vw;
    padding-top: 20px;
  }
  .emailfield-resetform-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #password-reset-label {
    padding-right: 5px;
    width: 44%;
  }
  .passwordresetform {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .passwordresetform #email-input-field {
    width: 100%;
  }
  .wishform {
    width: 8vw;
    position: absolute;
    left: 69vw;
    top: 4vw;
  }
  .revform {
    width: 8vw;
    position: absolute;
    left: 70vw;
    top: 14vw;
  }
  .add-wish-btn,
  .remove-wish-btn,
  .add-review-btn {
    border: none;
    background-color: transparent;
  }
  .product-wrapper {
    padding-bottom: 20vw;
    background-color: #9e988fcb;
  }
  .search-field-wrapper {
    width: 100%;
    padding-bottom: 10vw;
  }
  .panel-default {
    padding: 0 0;
  }
  .panel-body {
    height: 100%;
    border: 1px solid #ddd;
    background-color: cornsilk;
  }
  .product-image {
    width: 50vw;
    height: 37.5vw;
    border: none;
    border-radius: 5px;
  }
  .add-review-btn {
    font-size: 5.5vw;
  }
  .product-headline {
    font-family: "Dosis", sans-serif;
    font-size: 7.5vw;
  }
  .product-description {
    min-height: 40px;
  }
  .product-stats {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stats-key {
    width: 21vw;
  }
  .stats-value {
    width: 53vw;
  }
  .profile-wrapper {
    padding-bottom: 20vw;
  }
  .nav-tabs {
    margin-top: 3vw;
  }
  .profile-tabs {
    font-size: 7.0vw;
  }
  .form-control,
  .update-address-btn {
    font-family: "Dosis", sans-serif;
    font-size: 5.5vw;
    font-weight: 900;
  }
  .tab-content {
    width: 100%;
  }
  .tab-address {
    width: 80vw;
  }
  .tab-orders {
    width: 95vw;
  }
  .order-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .orderline-order-header {
    width: 50vw;
    font-size: 4.5vw;
  }
  .orderline-product-header {
    width: 30vw;
    font-size: 4.5vw;
  }
  .orderline-quantity-header {
    width: 20vw;
    font-size: 4.5vw;
  }
  .orderline-order-value {
    width: 50vw;
    font-size: 4.5vw;
  }
  .orderline-product-value {
    width: 30vw;
    font-size: 4.5vw;
  }
  .orderline-quantity-value {
    width: 20vw;
    font-size: 4.5vw;
  }
  .update-address-btn {
    background-color: lightblue;
  }
  .registration-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20vw;
  }
  #registrationform {
    width: 90vw;
  }
  #submit-registration-btn {
    width: 30vw;
    background-color: lightblue;
  }
  .reviewsWrapper {
    padding-top: 5vw;
    padding-bottom: 20vw;
    background-color: #9e988fcb;
  }
  .edit-review-wrapper {
    padding-bottom: 25vw;
    min-height: 82vh;
    padding-top: 10vw;
  }
  #review-form {
    width: 90vw;
  }
  #id_image {
    height: 13vw;
  }
  #review-send-btn-wrapper {
    width: 100%;
  }
  #review-send-btn {
    font-family: "Dosis", sans-serif;
    font-size: 5.5vw;
    background-color: lightblue;
    width: 40vw;
  }
  .review-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #review-btn-bar {
    width: 100%;
  }
  #back-to-product-btn,
  #edit-review-btn,
  #review-del-req-btn {
    width: 28%;
    font-family: "Dosis", sans-serif;
    font-size: 3vw;
    color: white;
  }
  #back-to-product-btn {
    background-color: #89ac89;
    margin-right: 2px;
  }
  #edit-review-btn {
    width: 8vw;
    position: absolute;
    left: 70vw;
    top: 7vw;
  }
  #review-del-req-btn {
    width: 8vw;
    position: absolute;
    left: 70vw;
    top: 14vw;
  }
  .review-headline {
    font-family: "Dosis", sans-serif;
    font-size: 5.5vw;
  }
  #confirm-delete-popup {
    background-color: beige;
    border-radius: 5px;
    border: 1px solid grey;
    width: 50vw;
    height: 25vw;
    position: absolute;
    opacity: 0.0;
    z-index: -1;
    top: 30%;
    left: 18%;
    -webkit-transform: translateZ(-10px);
            transform: translateZ(-10px);
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
  #delete-popup-message {
    width: 80%;
    font-family: "Dosis", sans-serif;
    font-size: 4vw;
  }
  #delete-confirm-btn {
    background-color: lightcoral;
    color: black;
    margin-right: 2px;
  }
  #delete-cancel-btn {
    background-color: lightslategray;
    margin-left: 2px;
    font-family: "Dosis", sans-serif;
  }
  .wishlist-wrapper {
    padding-bottom: 25vw;
    background-color: #9e988fcb;
    min-height: 82vh;
  }
  .wishlist-remove-btn {
    width: 8vw;
    position: absolute;
    left: 69vw;
    top: 4vw;
    color: #bd0000;
  }
  .wishlist-remove-btn i {
    font-size: 7.5vw;
  }
  .staricon-not-added,
  .staricon-added {
    font-size: 7.5vw;
  }
  .staricon-not-added {
    color: #971616;
  }
  .staricon-added {
    color: green;
  }
  body {
    font-family: "Dosis", sans-serif;
    padding-top: 60px;
    font-size: 5.5vw;
  }
  .page-headline {
    font-family: "Dosis", sans-serif;
    font-size: 7vw;
    padding-top: 4vw;
    width: 100%;
  }
  .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
    height: 15vw;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .desktop-navbar {
    display: none;
  }
  .mobile-list-items {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 6.5vw;
  }
  .navbar-nav {
    margin: 14.5px 0;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 380px;
  }
  #brandicon {
    color: #b61d18;
    font-size: 6vw;
  }
  .navbar-brand {
    font-family: "Dosis", sans-serif;
    font-size: 7vw;
  }
  #menubutton {
    margin-top: 15px;
  }
  .alert {
    margin-bottom: 0;
  }
  .icon-bar {
    background-color: #fff;
  }
  .row.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  #bottombar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bottombar .quicklinks {
    width: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 7.5vw;
    height: 20px;
  }
  .products-icon {
    top: -1px;
    font-size: 7.3vw;
  }
  .nav > li > a {
    padding: 0;
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
    font-size: 4vw;
  }
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  .active-app {
    color: rgba(255, 0, 0, 0.5);
  }
}

@media screen and (min-height: 415px) and (min-width: 510px) and (max-width: 3840px) and (orientation: landscape) {
  body {
    font-family: Arial;
    padding-top: 100px;
  }
  footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
  }
  .icon-bar {
    background-color: #fff;
  }
  .accountform {
    padding-top: 20px;
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
  }
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  .product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  caption p {
    word-wrap: break-word;
  }
  .row.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
  .panel-default {
    border-color: transparent;
    padding: 0 10px;
  }
  .panel-body {
    height: 100%;
    border: 1px solid #ddd;
  }
  .product-description {
    min-height: 40px;
  }
  .productcard {
    width: 95vw;
  }
  #bottomnavbar {
    display: none;
  }
  #bottombar {
    display: none;
  }
  .active-app {
    color: rgba(255, 0, 0, 0.5);
  }
  .order-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .orderline-header, .orderline-value {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */