{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head_js %}
{% endblock head_js %}
{% block content %}


<div class="wishlistWrapper ha">
    <div class="row row-flex">
        {% if wishlist_items %}
        {% for item in wishlist_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">


                <a class="wishlist-remove-Btn" href="{% url 'remove_from_wishlist' item.product.id %}"><i class="fa fa-times-circle"></i></a>



                <img src="{{ MEDIA_URL }}{{item.product.image}}" alt="image of {{item.product.name}}" style="width:200px;height:150px;">


                <div class="product-quickstats">
                    <div class="quickstats-key vh"><i class="fa fa-eye"></i></div>
                    <div class="quickstats-value">{{ item.product.view_count }}</div>
                    <div class="quickstats-key vh"><i class="fa fa-comment"></i></div>
                    <div class="quickstats-value">{{ item.product.review_count }}</div>
                    <div class="quickstats-key vh">Sold:</div>
                    <div class="quickstats-value">{{ item.product.ordered_pcs }}</div>
                </div>

                <h3><a class="product-headline" href="{% url 'product_detail' item.product.id %}"><b>{{item.product.name}}</b></a>
                </h3>

                <p class="product-description">{{ item.product.description|truncatewords:12 }}</p>
                <p><b>Our price: {{ item.product.price }} EUR</b></p>
                <form id="addcart{{product.id}}" method="POST" action="{% url 'add_to_cart' item.product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control"
                            placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit"><i
                                    class="fa fa-shopping-cart addcard-icon"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No products in your wishlist.</p>
        {% endif %}
    </div>
</div>
{% endblock %}