// helpers
.vh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.va {
    display: flex;
    align-items: center;
}


// color definitions

// font definitions

$dosisFont: 'Dosis',
sans-serif;