{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}
{% block page_heading %}User Login{% endblock %}

{% block content %}

<div class="login-wrapper ha">

    <div class="page-headline ha">
        Login
    </div>
    <form id="loginform" method="POST" action="">
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        <div id="login-btn-wrapper">

        <button id="login-btn" type="submit" class="btn"><b>Login</b></button>
    </form>
    <div id="reset-register-wrapper">
        <div id="password-reset-link" class="btn">
            <a href="{% url 'password_reset' %}"><b>Reset Password</b></a>
        </div>
        <div id="or-div"> or </div>
        <div id="register-link" class="btn">
            <a href="{% url 'registration' %}"><b>Register here</b></a>
        </div>
    </div>
    {% endblock %}