{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Registration Page{% endblock %}
{% block page_heading %}User Registration{% endblock %}

{% block content %}
<div class="registration-wrapper ha">
<div class="page-headline ha">Registration</div>
<p>If you have already an account, you can <a href="{% url 'login' %}">sign in</a></p>
<form id="registrationform" method="POST" action="">
    {% csrf_token %}
    {{ registration_form | as_bootstrap }}
    <button id="submit-registration-btn" type="submit" class="btn">Submit</button>
</form>

</div>
{% endblock %}