{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
<script src="">

</script>
{% endblock head_js %}

{% block content %}
<div class="wishlistWrapper ha">
    <div class="row row-flex">
        {% if cart_items %}
        {% for item in cart_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">

                <img src="{{ MEDIA_URL }}{{item.product.image}}" alt="image of {{item.product.name}}"
                    style="width:200px;height:150px;">

                <div class="product-quickstats">
                    <div class="quickstats-key vh"><i class="fa fa-eye"></i></div>
                    <div class="quickstats-value">{{ item.product.view_count }}</div>
                    <div class="quickstats-key vh"><i class="fa fa-comment"></i></div>
                    <div class="quickstats-value">{{ item.product.review_count }}</div>
                    <div class="quickstats-key vh">Sold:</div>
                    <div class="quickstats-value">{{ item.product.ordered_pcs }}</div>
                </div>

                <h3><a class="product-headline"
                        href="{% url 'product_detail' item.product.id %}"><b>{{item.product.name}}</b></a>
                </h3>

                <p class="product-description">{{ item.product.description|truncatewords:12 }}</p>
                <p><b>Our price: {{ item.product.price }} EUR</b></p>
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                            <div class="input-group-addon">{{item.quantity}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"
                            aria-hidden="true"></span>Amend</button>
                </form>

            </div>
        </div>
        {% endfor %}

        <div class="checkout-summary-wrapper ha">

            <div class="checkout-summary">
                {% if shippingfee == "FREE" %}
                <p>FREE SHIPPING!</p>
                {% else %}
                <p class="shipping-fee ha">incl. {{shippingfee}} EUR Shipping</p>
                {% endif %}
                <p id="totalamount" class="ha">Total <span class="glyphicon glyphicon-euro" aria-hidden="true"> </span> {{ total }}</p>
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span
                        class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
                {% else %}
                <div class="empty-cart-Wrapper ha">
                    <p class="no-cart-items">No products in your shopping cart</p>
                    <a href="{% url 'products' %}"><i class="fa fa-home"></i> Products</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}