{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
{% endblock head_js %}
{% block content %}
<div class="reviews-wrapper vac ha">
        {% if reviews %}

        <div class="page-headline ha">Reviews by users</div>
        <div class="search-field-wrapper ha">
            <div class="display">
                <form action="{% url 'review_search' %}" method="GET">
                    <input type="text" name="q">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>

        {% for review in reviews %}
        <div class="reviewcard display panel panel-default">
            <div class="panel-body">
                {% if review.image %}
                <img class="product-image" src="{{ MEDIA_URL }}{{review.image}}"
                    alt="image of {{review.product.name}} review">
                {% endif %}
                <div class="review-headline"><b><a href="{% url 'review_detail' review.id %}">{{ review.title }}</a></b></div>
                <p></p>
                <p class="product-description">{{ review.comment|truncatewords:10 }}</p>
                <p><span class="boldtext">Published by:</span> {{ review.author }} </p>
                <p><span class="boldtext">Date:</span> {{ review.created_date }} </p>
                <div class="review-stats">
                    <div class="stats-key"><i class="fa fa-eye"></i></div>
                    <div class="stats-value">{{ review.view_count }}</div>
                    <div class="stats-key">Rating:</div>
                    <div class="stats-value">{{review.rating }}</div>
                </div>
                <div class="review-btn-bar ha">
                    <a class="btn review-details-btn ha" href="{% url 'review_detail' review.id %}">Review Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="vh">No reviews have been found.</p>
        {% endif %}
</div>
{% endblock %}