{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
{% endblock head_js %}
{% block content %}

<div class="reviews-wrapper vac ha">
    <div class="page-headline ha">Review {{review.product.name}}</div>
    <div class="reviewcard display panel panel-default">
        <div class="panel-body">
            {% if review.image %}
            <img class="product-image" src="{{ MEDIA_URL }}{{review.image}}"
                alt="image of {{review.product.name}} review">
            {% endif %}
            <div class="btn-bar-wrapper">
                {% if user.is_authenticated and review.author.id == user.id %}
                <a class="btn edit-review-btn" href="{% url 'edit_review' review.id %}"><i class="fa fa-edit"></i></a>
                <div class="btn review-del-req-btn" onclick="showDeletePopup()"><i class="fa fa-trash"></i></div>

                <div class="confirm-delete-popup vh">
                    <div class="delete-popup-message ha">Delete Review?</div>
                    <a class="btn delete-confirm-btn" href="{% url 'delete_review' review.id %}"><b>Delete</b></a>
                    <div class="btn delete-cancel-btn ha" onclick="closeDeletePopup()">
                        Cancel
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="review-headline">{{ review.title }} </div>
            <a class="product-headline"
                href="{% url 'product_detail' review.product.id %}"><b>{{review.product.name}}</b></a>
            <p class="product-description">{{ review.comment }}</p>
            <div class="review-stats">
                <div class="stats-key">Author:</div>
                <div class="stats-value">{{ review.author }}</div>
                <div class="stats-key">Date:</div>
                <div class="stats-value">{{ review.created_date }}</div>
                <div class="stats-key"><i class="fa fa-eye"></i></div>
                <div class="stats-value">{{ review.view_count }}</div>
                <div class="stats-key">Rating:</div>
                <div class="stats-value">{{review.rating }}</div>
            </div>
            <div class="review-btn-bar ha">
                <a class="btn back-to-products-btn ha" href="{% url 'products'%}">Back Products</a>
                <a class="btn back-to-reviews-btn ha" href="{% url 'get_reviews' %}">Back Reviews</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}