.profile-wrapper {
    padding: {
        top: 2vw;
        bottom: 2vw;

    }

    background-color: $page-bgr-clr;
    min-height: 92vh;
}

.nav-tabs {
    padding-top: 1vw;
}

.nav-tabs a {
    color: white;
}

.profile-tabs {
    font-size: 4.5vw;
    width: 14vw;
    text-align: center;
}


.form-control {
    font-family: $dosisFont;
    font-size: 2.5vw;
    font-weight: 900;
}

.tab-content {
    width: 100%;
}

.tab-address {
    width: 55vw;
}

.tab-orders {
    width: 95vw;
}

.order-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orderline-order-header,
.orderline-product-header,
.orderline-quantity-header {
    font-size: 5.5vw;
    color: white;
}

.orderline-order-header {
    width: 30vw;
}

.orderline-product-header {
    width: 30vw;
}

.orderline-quantity-header {
    width: 30vw;
}

.orderline-order-value,
.orderline-product-value,
.orderline-quantity-value {
    font-size: 3.5vw;
    color: white;
}

.orderline-order-value {
    width: 30vw;
}

.orderline-product-value {
    width: 30vw;
}

.orderline-quantity-value {
    width: 30vw;
}

#update-address-btn-wrapper {
    width: 100%;
}

.update-address-btn {
    font-family: $dosisFont;
    font-size: 3.0vw;
    font-weight: 900;
    margin-top: 2vw;
    background-color: lightblue;
    color: rgb(65, 65, 65);
    transition: color .3s ease-in-out;
}

.update-address-btn:hover {
    color: darkred;
}