{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Apple Shop</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

    {% block head_js %}{% endblock head_js %}
</head>

<body>
    <!-- Top navbar -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button id="menubutton" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- logo -->
                <a class="navbar-brand" href="/" title="Index The Apple Shop"><span id="brandicon"
                        class="glyphicon glyphicon-apple"></span> The
                    Apple Shop</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <!-- menuitems for desktop -->

                <ul class="nav navbar-nav navbar-right desktop-navbar">

                    <li class="desktop-navbar-icons">
                        {% if app_path == "/" %}
                        <a href="{% url 'index' %}" title="Our Bestsellers"><i class="fa fa-home active-app"></i></a>
                        {% else %}
                        <a href="{% url 'index' %}" title="Our Bestsellers"><i class="fa fa-home"></i></a>
                        {% endif %}
                    </li>

                    <li class="desktop-navbar-icons">
                        {% if "products" in app_path %}
                        <a href="{% url 'products' %}" title="Products"><span
                                class="glyphicon products-icon glyphicon-apple active-app"></span></a>
                        {% else %}
                        <a href="{% url 'products' %}" title="Products"><span
                                class="glyphicon products-icon glyphicon-apple"></span></a>
                        {% endif %}
                    </li>

                    <li class="desktop-navbar-icons">
                        {% if "reviews" in app_path %}
                        <a href="{% url 'get_reviews' %}" title="Reviews"><i class="fa fa-comment active-app"></i></a>
                        {% else %}
                        <a href="{% url 'get_reviews' %}" title="Reviews"><i class="fa fa-comment"></i></a>
                        {% endif %}
                    </li>

                    <li class="desktop-navbar-icons">
                        {% if "wishlist" in app_path %}
                        <a href="{% url 'view_wishlist' %}" title="Wishlist"><i class="fa fa-star active-app"></i></a>
                        {% else %}
                        <a href="{% url 'view_wishlist' %}" title="Wishlist"><i class="fa fa-star"></i></a>
                        {% endif %}
                        {%if wishlist_count > 0 %}
                        <label class="badge badge-wishlist badge-warning"><b>{{ wishlist_count }}</b></label>
                        {% endif %}
                    </li>

                    <li class="desktop-navbar-icons">
                        {% if "cart" in app_path %}
                        <a href="{% url 'view_cart' %}" title="Shopping Cart"><i
                                class="fa fa-shopping-cart active-app"></i></a>
                        {% else %}
                        <a href="{% url 'view_cart' %}" title="Shopping Cart"><i class="fa fa-shopping-cart"></i></a>
                        {% endif %}
                        {%if product_count > 0 %}
                        <label class="badge badge-cart badge-warning"><b>{{ product_count }}</b></label>
                        {% endif %}
                    </li>

                    {% if user.is_authenticated %}
                    <li class="desktop-navbar-icons">
                        {% if "profile" in app_path %}
                        <a href="{% url 'profile' %}" title="Profile"><i class="fa fa-user active-app"></i></a>
                        {% else %}
                        <a href="{% url 'profile' %}" title="Profile"><i class="fa fa-user"></i></a>
                        {% endif %}
                    </li>

                    <li class="desktop-navbar-icons"><a href="{% url 'logout' %}" title="Logout"><i
                                class="fa fa-sign-out"></i></a></li>
                    {%  else %}

                    <li class="desktop-navbar-icons">
                        {% if "login" in app_path %}
                        <a href="{% url 'login' %}" title="Login"><i class="fa fa-sign-in active-app"></i></a>
                        {%  else %}
                        <a href="{% url 'login' %}" title="Login"><i class="fa fa-sign-in"></i></a>
                        {% endif %}
                    </li>

                    <li class="desktop-navbar-icons">
                        {% if "register" in app_path %}
                        <a href="{% url 'registration' %}" title="Registration"><i
                                class="fa fa-user-plus active-app"></i></a>
                        {%  else %}
                        <a href="{% url 'registration' %}" title="Registration"><i class="fa fa-user-plus"></i></a>
                        {% endif %}
                    </li>

                    {% endif %}
                </ul>

                <!-- menuitems for mobile -->

                <ul class="nav navbar-nav navbar-right mobile-navbar">

                    <li class="mobile-list-items">
                        {% if app_path == "/" %}
                        <a href="{% url 'index' %}" title="Our Bestsellers"><i class="fa fa-home active-app"></i>
                            Topsellers</a>
                        {% else %}
                        <a href="{% url 'index' %}" title="Our Bestsellers"><i class="fa fa-home"></i> Topsellers</a>
                        {% endif %}
                    </li>

                    <li class="mobile-list-items">
                        {% if "products" in app_path %}
                        <a href="{% url 'products' %}" title="Products"><span
                                class="glyphicon glyphicon-apple active-app"></span>
                            Products</a>
                        {% else %}
                        <a href="{% url 'products' %}" title="Products"><span class="glyphicon glyphicon-apple"></span>
                            Products</a>
                        {% endif %}
                    </li>

                    <li class="mobile-list-items">
                        {% if "reviews" in app_path %}
                        <a href="{% url 'get_reviews' %}" title="Reviews"><i class="fa fa-comment active-app"></i>
                            Reviews</a>
                        {% else %}
                        <a href="{% url 'get_reviews' %}" title="Reviews"><i class="fa fa-comment"></i> Reviews</a>
                        {% endif %}
                    </li>

                    <li class="mobile-list-items">
                        {% if "wishlist" in app_path %}
                        <a href="{% url 'view_wishlist' %}" title="Wishlist"><i class="fa fa-star active-app"></i>
                            Wishlist</a>
                        {% else %}
                        <a href="{% url 'view_wishlist' %}" title="Wishlist"><i class="fa fa-star"></i> Wishlist</a>
                        {% endif %}
                        {%if wishlist_count > 0 %}
                        <label class="badge badge-wishlist badge-warning"><b>{{ wishlist_count }}</b></label>
                        {% endif %}
                    </li>

                    <li class="mobile-list-items">
                        {% if "cart" in app_path %}
                        <a href="{% url 'view_cart' %}" title="Shopping Cart"><i
                                class="fa fa-shopping-cart active-app"></i> Cart</a>
                        {% else %}
                        <a href="{% url 'view_cart' %}" title="Shopping Cart"><i class="fa fa-shopping-cart"></i>
                            Cart</a>
                        {% endif %}
                        {%if product_count > 0 %}
                        <label class="badge badge-cart badge-warning"><b>{{ product_count }}</b></label>
                        {% endif %}
                    </li>

                    {% if user.is_authenticated %}
                    <li class="mobile-list-items">
                        {% if "profile" in app_path %}
                        <a href="{% url 'profile' %}" title="Profile"><i class="fa fa-user active-app"></i> Profile</a>
                        {% else %}
                        <a href="{% url 'profile' %}" title="Profile"><i class="fa fa-user"></i> Profile</a>
                        {% endif %}
                    </li>

                    <li class="mobile-list-items">
                        <a href="{% url 'logout' %}" title="Logout"><i class="fa fa-sign-out"></i> Log Out</a></li>

                    {% else %}

                    <li class="mobile-list-items">
                        {% if "login" in app_path %}
                        <a href="{% url 'login' %}" title="Login"><i class="fa fa-sign-in active-app"></i> Log In</a>
                        {%  else %}
                        <a href="{% url 'login' %}" title="Login"><i class="fa fa-sign-in"></i> Log In</a>
                        {% endif %}
                    </li>

                    <li class="mobile-list-items">
                        {% if "register" in app_path %}
                        <a href="{% url 'registration' %}" title="Registration"><i
                                class="fa fa-user-plus active-app"></i> Register</a>
                        {%  else %}
                        <a href="{% url 'registration' %}" title="Registration"><i class="fa fa-user-plus"></i>
                            Register</a>
                        {% endif %}
                    </li>
                    
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- messages banner -->
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <div class="container">

        {% block content %}{% endblock %}
    </div>

    <!-- mobile bottom navbar -->

    <nav class="navbar navbar-masthead navbar-default navbar-fixed-bottom" id="bottomnavbar">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-right" id="bottombar">

                    <li class="quicklinks">
                        {% if app_path == "/" %}
                        <a href="{% url 'index' %}" title="Our Bestsellers"><i class="fa fa-home active-app"></i></a>
                        {% else %}
                        <a href="{% url 'index' %}" title="Our Bestsellers"><i class="fa fa-home"></i></a>
                        {% endif %}
                    </li>

                    <li class="quicklinks">
                        {% if "products" in app_path %}
                        <a href="{% url 'products' %}" title="Products"><span
                                class="glyphicon glyphicon-apple products-icon active-app"></span></a>
                        {% else %}
                        <a href="{% url 'products' %}" title="Products"><span
                                class="glyphicon glyphicon-apple products-icon"></span></a>
                        {% endif %}
                    </li>

                    <li class="quicklinks">
                        {% if "wishlist" in app_path %}
                        <a href="{% url 'view_wishlist' %}" title="Wishlist"><i class="fa fa-star active-app"></i></a>
                        {% else %}
                        <a href="{% url 'view_wishlist' %}" title="Wishlist"><i class="fa fa-star"></i></a>
                        {% endif %}
                        {%if wishlist_count > 0 %}
                        <label id="wishlist-badge-bottom"
                            class="badge badge-wishlist badge-warning">{{ wishlist_count }}</label>
                        {% endif %}
                    </li>

                    <li class="quicklinks">
                        {% if "cart" in app_path %}
                        <a href="{% url 'view_cart' %}" title="Shopping Cart"><i
                                class="fa fa-shopping-cart active-app"></i></a>
                        {% else %}
                        <a href="{% url 'view_cart' %}" title="Shopping Cart"><i class="fa fa-shopping-cart"></i></a>
                        {% endif %}
                        {%if product_count > 0 %}
                        <label id="cart-badge-bottom" class="badge badge-cart badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </li>

                    <li class="quicklinks">
                        {% if "accounts" in app_path %}
                        <a href="{% url 'profile' %}" title="Profile"><i class="fa fa-user active-app"></i> </a>
                        {% else %}
                        <a href="{% url 'profile' %}" title="Profile"><i class="fa fa-user"></i></a>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- ipad bottom navbar -->

    <nav class="navbar navbar-masthead navbar-default navbar-fixed-bottom" id="bottomnavbar-ipad">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-right" id="bottombar-ipad">

                    <li class="quicklinks">
                        {% if app_path == "/" %}
                        <a href="{% url 'index' %}" title="Our Bestsellers"><i class="fa fa-home active-app"></i></a>
                        {% else %}
                        <a href="{% url 'index' %}" title="Our Bestsellers"><i class="fa fa-home"></i></a>
                        {% endif %}
                    </li>

                    <li class="quicklinks">
                        {% if "products" in app_path %}
                        <a href="{% url 'products' %}" title="Products"><span
                                class="glyphicon glyphicon-apple products-icon active-app"></span></a>
                        {% else %}
                        <a href="{% url 'products' %}" title="Products"><span
                                class="glyphicon glyphicon-apple products-icon"></span></a>
                        {% endif %}
                    </li>

                    <li class="quicklinks">
                        {% if "reviews" in app_path %}
                        <a href="{% url 'get_reviews' %}" title="Reviews"><i class="fa fa-comment active-app"></i></a>
                        {% else %}
                        <a href="{% url 'get_reviews' %}" title="Reviews"><i class="fa fa-comment"></i></a>
                        {% endif %}
                    </li>

                    <li class="quicklinks">
                        {% if "wishlist" in app_path %}
                        <a href="{% url 'view_wishlist' %}" title="Wishlist"><i class="fa fa-star active-app"></i></a>
                        {% else %}
                        <a href="{% url 'view_wishlist' %}" title="Wishlist"><i class="fa fa-star"></i></a>
                        {% endif %}
                        {%if wishlist_count > 0 %}
                        <label id="wishlist-badge-bottom-ipad"
                            class="badge badge-wishlist badge-warning">{{ wishlist_count }}</label>
                        {% endif %}
                    </li>

                    <li class="quicklinks">
                        {% if "cart" in app_path %}
                        <a href="{% url 'view_cart' %}" title="Shopping Cart"><i
                                class="fa fa-shopping-cart active-app"></i></a>
                        {% else %}
                        <a href="{% url 'view_cart' %}" title="Shopping Cart"><i class="fa fa-shopping-cart"></i></a>
                        {% endif %}
                        {%if product_count > 0 %}
                        <label id="cart-badge-bottom-ipad"
                            class="badge badge-cart badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </li>

                    <!-- for logged on users -->

                    {% if user.is_authenticated %}
                    <li class="quicklinks">
                        {% if "profile" in app_path %}
                        <a href="{% url 'profile' %}" title="Profile"><i class="fa fa-user active-app"></i></a>
                        {% else %}
                        <a href="{% url 'profile' %}" title="Profile"><i class="fa fa-user"></i></a>
                        {% endif %}
                    </li>
                    <li class="quicklinks">
                        <a href="{% url 'logout' %}" title="Logout"><i class="fa fa-sign-out"></i></a></li>

                    {% else %}
                    <!-- for logged off users -->

                    <li class="quicklinks">
                        {% if "login" in app_path %}
                        <a href="{% url 'login' %}" title="Login"><i class="fa fa-sign-in active-app"></i></a>
                        {%  else %}
                        <a href="{% url 'login' %}" title="Login"><i class="fa fa-sign-in"></i></a>
                        {% endif %}
                    </li>
                    <li class="quicklinks">
                        {% if "register" in app_path %}
                        <a href="{% url 'registration' %}" title="Registration"><i
                                class="fa fa-user-plus active-app"></i></a>
                        {%  else %}
                        <a href="{% url 'registration' %}" title="Registration"><i class="fa fa-user-plus"></i></a>
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <script src="{% static 'js/appleshop.js' %}"></script>

</body>

</html>