.wishform {
    width: 10vw;
}


.revform {
    width: 10vw;
}



.add-wish-btn,
.remove-wish-btn,
.add-review-btn {
    border: none;
    background-color: transparent;
}

#to-products-btn-wrapper {
    margin: {
        top: 2vw;
        bottom: 2vw;
    }
    width: 100%;
}

#to-products-btn {
    width: 14vw;
    font-size: 2.0vw;
    background-color: lightblue;
    color: black;
    transition: color .3s ease-in-out;
}

#to-products-btn:hover {
    color: darkred;
}