.product-wrapper {
    padding: {
        top: 1vw;
        bottom: 1vw;
    }
        
    background-color: #9e988fcb;
}

.search-field-wrapper {
    width: 100%;
    padding: {
        top: 2vw;
        bottom: 2vw;
    }
}

.productcard {
    width: 32vw;
    margin: {
        left: 5px;
        right: 5px;
    }
}

.panel-default {
    padding: 0 0;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    background-color: cornsilk;
    display: flex;
    flex-wrap: wrap;
}

.product-image {
    width: 20vw;
    height: 15vw;
    border: none;
    border-radius: 5px;
}

.add-review-btn {
    font-size: 2.5vw;
    color: rgb(65, 106, 236);
}


.product-headline {
    font-family: $dosisFont;
    font-size: 2.0vw;
    width: 100%;
}


.product-description {
    min-height: 40px;
    width: 100%;
}

h3 .product-headline {
    text-decoration: none;

}

.product-stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.stats-key {
    width: 6vw;
}

.stats-value {
    width: 23vw;;
}

.stats-value a {
    text-decoration: none;
}

.cart-form {
    width: 100%;
}
