.registration-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 2vw;
    background-color: #9e988fcb;
}

#registration-message {
    width: 90vw;
    margin: {
        bottom: 1.5vw;
    }
    text-align: center;
}

#registrationform {
    width: 30vw;
}

#submit-registration-btn-wrapper {
    width: 100%;
}

#submit-registration-btn {
    width: 14vw;
    background-color: lightblue;
    color: rgb(65, 65, 65);
    font-family: $dosisFont;
    font-size: 2.0vw;
    transition: color .3s ease-in-out;
}

#submit-registration-btn:hover {
    color: darkred;
}
