.reviews-wrapper {
    padding: {
        top: 2vw;
        bottom: 25vw;
    }

    background-color: #9e988fcb;
    min-height: 82vh;
}

.edit-review-wrapper {
    padding-bottom: 25vw;
    min-height: 82vh;
    padding-top: 10vw;
}

#review-form {
    width: 90vw;
}

#id_image {
    height: 13vw;
    display: flex;
    align-items: center;
}

#review-send-btn-wrapper {
    width: 100%;
}

#review-send-btn {
    font-family: $dosisFont;
    font-size: 5.5vw;
    background-color: lightblue;
    width: 40vw;
    margin-right: 2vw;
    transition: color .3s ease-in-out;
}

#review-cancel-btn {
    font-family: $dosisFont;
    font-size: 5.5vw;
    background-color: orange;
    color: rgb(65, 65, 65);
    width: 40vw;
    margin-left: 2vw;
    transition: color .3s ease-in-out;
}

#review-send-btn:hover,
#review-cancel-btn:hover {
    color: darkred;
}

.edit-review-btn {
    width: 8vw;
    position: absolute;
    left: 62vw;
    top: 30vw;
}

.review-del-req-btn {
    width: 8vw;
    position: absolute;
    left: 62vw;
    top: 44vw;

}

.edit-review-btn {
    font-size: 7.5vw;
    color: orange;
}


.review-del-req-btn {
    font-size: 7.5vw;
    color: red;
}

.review-stats {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.review-btn-bar {
    margin: {
        top: 4vw;
        bottom: 4vw;
    }

    width: 100%;
    display: flex;
    justify-content: center;
}

.back-to-products-btn,
.back-to-reviews-btn,
.return-product-btn,
.review-details-btn {
    width: 33vw;
    font-family: $dosisFont;
    font-size: 4.5vw;
    color: rgb(65, 65, 65);
    transition: color .3s ease-in-out;
}

.back-to-products-btn {
    margin-right: 2px;
    background-color: lightblue;
}

.back-to-reviews-btn {
    margin-left: 2px;
    background-color: orange;
}

.return-product-btn {
    background-color: lightblue;
    margin: 2px;
}

.review-details-btn {
    background-color: orange;
    margin: 2px;
}


.back-to-products-btn:hover,
.back-to-reviews-btn:hover,
.review-details-btn:hover,
return-product-btn:hover {
    color: darkred;
}

.review-headline {
    font-family: $dosisFont;
    font-size: 7.5vw;
    margin-bottom: 6vw;
}

.review-headline a {
    text-decoration: none;
}


.confirm-delete-popup {
    background-color: beige;
    border-radius: 5px;
    border: 1px solid grey;
    width: 80vw;
    height: 40vw;
    position: fixed;
    opacity: 0.0;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translateZ(-10px);
    transition: opacity .3s ease-in-out;
}

.delete-popup-message {
    width: 80%;

    margin: {
        top: 2vw;
        bottom: 2vw;
    }

    font: {
        family: $dosisFont;
        size: $delPopupFontSize;
    }
}

.delete-confirm-btn {
    background-color: lightcoral;
    color: rgb(65, 65, 65);
    margin-right: 2px;
    width: 35vw;
    transition: color .3s ease-in-out;
    text-decoration: none;
}


.delete-confirm-btn:hover {
    color: whitesmoke;
}

.delete-cancel-btn {
    width: 35vw;
    background-color: lightslategray;
    margin-left: 2px;
    font-family: $dosisFont;
    color: whitesmoke;
    transition: color .3s ease-in-out;
}

.delete-cancel-btn:hover {
    color: darkred;
}